@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    50% { border-color: transparent }
  }

  .typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    /* animation: typing 1s steps(19, end) forwards, blink 0.7s step-end 2; */
    animation: blink 0.7s step-end 3;
  }
   .animate-cursor {
    animation: typing 0.5s blink 0.2s step-end 1;
  }

  .typing-done{
    border-right: none;
  }
}
body{
  @apply bg-black text-white dark:bg-white dark:text-black transition-colors duration-300;
  font-family: var(--font-geist-sans), sans-serif;

}


